@import '~style/helpers';

@import '~style/helpers';


.player {
  overflow: hidden;
  padding: 80px 40px;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  // .youtube {
  //   @include aspect-ratio(16, 9);
  //   iframe {
  //     width: 100%;
  //     height: 100%;
  //   }
  // }
}
