@import '~style/helpers';

.home {
	padding: 0px;
	@include breakpoint(md) {
		padding-left: $nav-width;
	}
	min-height: 100%;
	width: 100%;
  background-color: inherit;

  .courses {
		position: relative;
		padding: 30px;
	}

}
