@import '~style/helpers';

.altNav {
  position: fixed;
  left: 0;
  top: 0px;
  width: $nav-school-width;
  height: 100%;
  background: $dark-navy;
  padding: 40px 0px;
  a {
    display: block;
    width: 100%;
    padding: 0px 10px 0px 40px;
    line-height: 40px;
    height: 40px;
    color: #FFF;
    text-align: left;
    margin-bottom: 10px;
    font-size: 12px;
    font-family: $header-font;
    text-transform: uppercase;
    text-decoration: none;
    &.logo {
      text-align: center;
      margin-bottom: 60px;
      padding-left: 0px;
    }
    &:hover {
      color: $yellow;
    }
    img {
      max-height: 36px;
      display: inline-block;
    }
  }
}
