// adds opacity to hex background color
@mixin background-opacity($color, $opacity: 0.5) {
    background-color: $color; /* The Fallback */
    background-color: rgba($color, $opacity);
}

// well, clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
$breakpoint-xxl  : 1330px !default;
$breakpoint-xl  : 1200px !default;
$breakpoint-lg  : 992px !default;
$breakpoint-md  : 768px !default;
$breakpoint-sm : 576px !default;
$breakpoint-xs  : 576px !default;

// breakpoints
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: $breakpoint-xs) { @content; }
  }

  @else if $class == sm {
    @media (min-width: $breakpoint-sm) { @content; }
  }

  @else if $class == md {
    @media (min-width: $breakpoint-md) { @content; }
  }

  @else if $class == lg {
    @media (min-width: $breakpoint-lg ) { @content; }
  }

  @else if $class == xl {
    @media (min-width: $breakpoint-xl ) { @content; }
  }

  @else if $class == xxl {
    @media (min-width: $breakpoint-xxl ) { @content; }
  }

  @else {
    @warn "Breakpoint media queries mixin";
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
