$yellow: #FFBB41;
$black: #37394C;
$beige: #F4F1EA;
$dark-navy: #37394C;
$gray: #999;
$white: #FFF;
$blue: #67AAF9;


$main-font: 'Open Sans', sans-serif;
$header-font: 'Montserrat', sans-serif;

$nav-width: 320px;
$nav-school-width: 240px;
