@import '~style/helpers';

.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.courses {
  position: relative;
  @include breakpoint(xs) {
    padding: 20px;
  }
  @include breakpoint(sm) {
    padding: 20px;
  }
  @include breakpoint(lg) {
    padding: 30px 20px 30px ($nav-width +30px);
  }
}
