@import '~style/helpers';


.lessonList {
  background: $blue;
  border-radius: 6px;
  padding: 20px 15px;
  width: 300px;
  li {
    width: 100%;
    padding-left: 50px;
    position: relative;
    a {
      display: block;
      color: #FFF;
      padding: 15px 0px;
      font-size: 16px;
      font-family: $main-font;
      line-height: 18px;
      .time {
        opacity: 0.7;
        float: right;
        font-size: 14px;
        display: inline-block;
        i {
          display: none;
        }
      }
      .bars {
        display: none;
        float: right;
        height: 18px;
      }
    }
    &:hover {
      a {
        font-weight: bold;
      }
    }
    &.active {
      a {
        font-weight: bold;
        .time {
          display: none;
        }
        &:before {
          content: '';
          display: block;
          width: 40px;
          height: 2px;
          position: absolute;
          left: 0;
          background-color: #FFF;
          top: 50%;
          margin-top: -1px;
        }
        .bars {
          display: inline-block;
          position: relative;
          width: 30px;
          i {
            height: 8px;
            width: 4px;
            border-radius: 2px;
            background-color: #FFF;
            position: absolute;
            bottom: 0;
            right: 0;
            &:before{
              content: '';
              right: 6px;
              display: block;
              height: 14px;
              width: 4px;
              border-radius: 2px;
              background-color: #FFF;
              position: absolute;
              bottom: 0;
            }
            &:after{
              content: '';
              right: 12px;
              display: block;
              height: 10px;
              width: 4px;
              border-radius: 2px;
              background-color: #FFF;
              position: absolute;
              bottom: 0;
            }
          }
        }
      }
    }

  }
}
